build/
debug/
libconfig/
glog/
.vscode/
HDL/bitfiles/
old_files/
Analisis/
!Analisis/cfg.py
!Analisis/run_analisis.py
TODOs
HDL/.DS_Store
HDL/src/32bit/read/*
HDL/src/32bit/*.bit
!HDL/src/32bit/read/read_32bit_fifo.v
!HDL/src/32bit/read/dataGenerator.v
HDL/src/32bit/write/*
!HDL/src/32bit/write/write_32bit_fifo.v
!HDL/src/32bit/write/dataGenerator.v
!HDL/src/32bit/write/checkData.v
HDL/src/nonsym/read/*
HDL/src/nonsym/*.bit
!HDL/src/nonsym/read/read_nonsym_fifo.v
!HDL/src/nonsym/read/dataGenerator.v
HDL/src/duplex/bidir/*
HDL/src/duplex/*.bit
!HDL/src/duplex/bidir/bidir_duplex_fifo.v